*{
    margin: 0;
    font-family: Inter;
    color: #292E5A;
}
p,
button
{
    font-weight: 500;
}

html, body{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 249, 254);
}

.back-part{
    height: 540px;
    width: 500px;
    background-image: linear-gradient(to right,#E9E8FF,#E7F3FF);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.front-part{
    height: 545px;
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-top: 100px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    height: 85%;
    width: 85%;
}.price-549{
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 5px;
}.payNow-pTag{
    font-size: 15px;
    margin-bottom: 30px;
}.buyButton{
    width: 100%;
    font-size: 16px;
    padding: 17px 0px;
    background-image: linear-gradient(to right, #5FF489, #79F4F4);
    border: none;
    border-radius: 8px;
    margin-bottom: 12px;
    cursor: pointer;
}.onlineStorage{
    font-size: 14px;
    word-spacing: 1px;
}

.part02{
    font-size: 15px;
    margin-top: 20px;
}.fa-solid fa-circle-check{
    font-size: 16px;
}.checkText{
    display: inline-block;
}#checkText{
    margin-bottom: 12px;
}.underline{
    text-decoration: underline;
    cursor: pointer;
}

.part03{
    height: 100px;
    margin-top: 25px;
    background-color: #F3F5FF;
    border-radius: 10px;
}.part03 p{
    padding: 10px 0 0 10px;
}.part03 input{
    padding: 13px 10px;
    width: 50%;
    margin: 10px 5px 0 10px;
    outline: none;
    border: 1px solid #B3C7E3;
    background-color: transparent;
    border-radius: 10px;
}.part03 input::placeholder{
    font-size: 15px;
    font-weight: 500;
    color: #292E5A;
}.part03 button{
    font-size: 15px;
    padding: 13px 35px;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.part04 button{
    width: 100%;
    font-size: 16px;
    padding: 17px 0px;
    background-image: linear-gradient(to right, #9CC4FF, #B4A8FF);
    border: none;
    border-radius: 8px;
    margin-top: 45PX;
    cursor: pointer;
}

@media screen and (max-width: 530px) {
    .back-part{
        width: 470px;
    }.part03 button{
        padding: 13px 31px;
    }

}
@media screen and (max-width: 510px) {
    .back-part{
        height: 520px;
        width: 450px;
    }.part03 button{
        padding: 13px 30px;
    }
}
@media screen and (max-width: 480px) {
    .onlineStorage{
        font-size: 13px;
    }
    p{
        font-size: 15px;
    }
    .back-part{
        height: 500px;
        width: 420px;
    }.part03 button{
        padding: 13px 30px;
    }
    .part03 input{
        width: 45%;
    }
    .part04 button{
        margin-top: 30px;
    }
    .front-part{
        height: 525px;
    }
}
@media screen and (max-width: 450px) {
    .onlineStorage{
        font-size: 12px;
    }
    p{
        font-size: 14px;
    }
    .back-part{
        height: 520px;
        width: 400px;
    }.part03 button{
        padding: 13px 25px;
    }
    .part04 button{
        margin-top: 35PX;
    }
}
@media screen and (max-width: 400px) {
    .buyButton{
        font-size: 14px;
        padding: 15px 0px;
    }
    .onlineStorage{
        font-size: 11px;
    }
    p{
        font-size: 12px;
    }
    .back-part{
        height: 510px;
        width: 360px;
    }
    .part03 input{
        padding: 13px 10px;
        width: 40%;
    }
    .part04 button{
        font-size: 13px;
        padding: 15px 0px;
        margin-top: 30px;
    }
    .front-part{
        height: 510px;
    }
}
@media screen and (max-width: 385px) {
    .buyButton{
        font-size: 13px;
        padding: 13px 0px;
    }
    .onlineStorage{
        font-size: 10px;
    }
    p{
        font-size: 12px;
    }
    .back-part{
        height: 510px;
        width: 320px;
    }
    .part03 input{
        padding: 13px 10px;
        width: 38%;
    }
    .part03 button{
        font-size: 13px;
        padding: 13px 25px;
    }
    .part04 button{
        font-size: 13px;
        padding: 15px 0px;
        margin-top: 25px;
    }
    .front-part{
        height: 500px;
    }

}